.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 102;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 616px;
  height: 492px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalRow {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.iconContainer {
  /* font-size: 2rem; */
  width: 45px;
  height: 50px;
}
.iconContainer img {
  width: 100%;
  height: 100%;
}

.messageContainer h3 {
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 10px;
}
.messageContainer {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

.cancelButton,
.confirmButton {
  padding: 10px 20px;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  font-size: 1rem;
}

.cancelButton {
  background-color: #f0f0f0;
  margin-right: 10px;
}

.confirmButton {
  background-color: var(--primary-color);
  color: #fff;
}

.cancelButton:hover {
  background-color: #e2e2e2;
}

.confirmButton:hover {
  background-color: #c82333;
}
